@import "src/styles/mixins";


.login {
  @include cardLayout(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    padding: 30px;
  }

  h3 {
    text-align: center;
    @include primaryText(28px)
  }
}