.feedCategories {
  width: 100%;
  background-color: var(--theme-el-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(20px);
  padding: 15px;
  margin: 10px;

  h3 {
    color: #fff
  }

  .games {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }


  .categories {

  }
}