.post {
  width: 100%;
  min-height: 200px;
  background-color: var(--theme-el-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(20px);
  margin: 10px;
  color: #fff;
}

.postForm {
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-align: center;
      padding: 5px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}