.profileBtn {
  display: block;
  &Image {
    border: 2px solid var(--theme-bg-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity .3s linear;
    -o-transition: opacity .3s linear; /* opera */
    -moz-transition: opacity .3s linear; /* Firefox */
    -webkit-transition: opacity .3s linear; /*safari and chrome */
    img, span {
      border-radius: 50%;
    }

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      border: 3px solid var(--inactive-color);
    }
  }
}