@import "src/styles/variables";


.input {
  input {
    padding: 5px 10px;
    margin: 0;
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: $default-border-radius;

    &:focus {
      background-color: hsla(0, 0%, 100%, .25);
    }
  }
}