
$color-text-primary: rgb(255, 255, 255);
$color-text-warning: rgb(255, 161, 22);
$bg-color: rgba(28, 28, 28, 1);


$elements_bg-color_primary: rgba(43, 43, 43, 1);
$elements_bg-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);


$default-transition: .15s ease-in-out;
$default-border-radius: 8px;


$main-color-btn: #ffa260;